body {
	padding-top: 60px;
	background: url(../img/bkg1.png) top left repeat #EEEBE6;
}

.login form {
	margin-top: 30px;
}


.login form {text-align: center;}
.login form input {width: 97%;}
.login form .errors {margin-top: 20px;}
.login form .alert { margin-bottom: 5px;}

.navbar .nav > li {font-size: 20px}
.navbar .nav > li > a {margin-left: 0}
.btn-small {padding: 5px 15px;}


@media (max-width: 979px){
	.navbar-fixed-top, .navbar-fixed-bottom {position: fixed;}
}

@media (max-width: 767px){
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin: 0;}
}
